@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Open+Sans&display=swap');

#content{
    max-width: 1600px;
    margin: 0 auto;
}

nav{
    background-color: #14213d;
    display: flex;
    justify-content: space-around;
    margin-top: -100px;
}


nav a{
    text-decoration: none;
    color: white;
    padding: 30px;
    font-size: 20px;
    margin-left: 150px;
    font-family: agbalumo;
}

nav a:hover{
    color: white;
    background-color: rgba(39, 58, 99, 0.842)
}


#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo{
    width: 200px;
}





footer{
    background-color: #E5E5E5;
    padding: 30px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a{
    text-decoration: none;
    font-size: 18px;
    font-family: 'Open Sans';
    color: #000000;
}

footer a:hover{
    text-decoration: underline;
    color: rgb(82, 106, 160);
}

footer p{
    font-size: 18px;
    font-family: 'Open Sans';
    color: #000000;

}